@font-face {
    font-family: 'Lato-Regular';
    src: url('fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/Lato-Bold.ttf');
}

.root {
    -fx-background-color: #d3e1ee;
    -fx-font-family: 'Lato';
}
.button {
    -fx-background-color: #d8dcc9;
    -fx-text-fill: #000000;
    -fx-background-radius: 7px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 3,0,2,3);
}
.button:disabled {
    -fx-background-color: #d8dcc9;
    -fx-text-fill: #000000;
    -fx-background-radius: 7px;
    -fx-opacity: 1;
}
.button:hover {
    -fx-background-color: #c0c7b0;
    -fx-text-fill: #ffffff;
    -fx-scale-x: 1.035;
    -fx-scale-y: 1.035
}
.button:pressed {
    -fx-text-fill: #b6bda7;
}
#play_button_clicked {
    -fx-background-color: #5a86f3;
    -fx-text-fill: #FFF8EC;
    -fx-background-radius: 7px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 3,0,2,3);
}
#pause_menu {
    -fx-background-color: rgba(0, 0, 0, 0.175);
}
#dialog_content_header {
    -fx-font-size: 25;
}
#dialog_content {
    -fx-font_size: 21;
}
#dialog_ok_button {
    -fx-background-color: #5a86f3;
    -fx-text-fill: white;
}
#dialog_ok_button:hover {
    -fx-background-color: #4c72d0;
    -fx-text-fill: white;
}
.progress-bar {
    -fx-accent: #5a86f3;
}
.progress-bar .bar {
    -fx-background-radius: 7px;
}
.progress-bar .track {
    -fx-background-radius: 7px;
}
.scenarioMenuMapName {
    -fx-background-color: transparent;
    -fx-font-size: 34;
}
.scenarioMenuFileName {
    -fx-background-color: transparent;
    -fx-font-size: 26;
}
#scenarioMenuText {
    -fx-font-size: 18;
}
#scenarioMenuTextField {
    -fx-font-size: 18;
    -fx-background-radius: 7px;
}